# STM32CubeIDE / STM32CubeMX
/.settings/
/Debug/
/Release/
/build/
/out/
/MX_*
*.launch
*.log
*.bak
*.dep
*.o
*.d
*.elf
*.map
*.lst
*.axf
*.bin
*.hex
*.srec
*.su
*.crf

# Project metadata
*.ioc
!.gitignore
!.clang-format

# IDE-specific
.project
.cproject
.autosave
.mxproject
.metadata/
*.swp

# Backup files
*~
*.tmp
*.orig

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
